name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test docker-run
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: shellcheck
        uses: reviewdog/action-shellcheck@v1

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.2.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.6.1

      - name: Build
        uses: docker/build-push-action@v5
        id: docker-build
        with:
          context: test
          load: true
          push: false
          tags: user/app:latest

      - name: Run docker-run
        uses: ./
        id: test-app-1
        with:
          name: test-app-1
          image: user/app:latest
          args: |
            bash -c 'echo "Hello World" && ls'
            
      - name: Run docker-run from a dockerhub image
        uses: ./
        id: test-app-2
        with:
          name: test-app-2
          image: ubuntu:latest
          args: |
            bash -c 'echo "Hello World" && ls'
            
      - name: Show output
        run: |
          echo '${{ toJSON(steps.test-app-1.outputs) }}'
          echo '${{ toJSON(steps.test-app-2.outputs) }}'
        shell:
          bash

